html {
    font-family: 'Roboto', sans-serif;
}
body {
   /* font-size: 15px;
    line-height: 20px;*/
    margin: 0;
    background: #eee;
}
.container {
    width : 90% !important;
}
.kep-login-facebook.metro {
    border-radius: 4% !important;
}
.kep-login-facebook {
    width: 50%;
}
.googleLoginButton {
    margin-top: 5px;
    margin-left: 25%;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s, border-color .3s;
    border-radius: 4%;
    background-color: rgb(209, 72, 54);
    width: 50%;
    line-height: 57px;
    text-align: center;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: none !important;
}
/* Flashcard */
#deck {
    height: 350px;
    list-style: none;
    margin: 50px auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 650px;
    max-width: 100%;
}
.cardf {
    -webkit-perspective: 1600;
    perspective: 1600;
    color: #222;
    display: none;
    font-size: 30px;
    height: 350px;
    line-height: 60px;
    position: relative;
    width: 650px;
    max-width: 100%;
    background: transparent !important;
}
.cardf:first-child {
    display: block
}
.side_one, .side_two {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 30, color-stop(0%, #ffffff), color-stop(96.667%, #ffffff), color-stop(100%, #0080ff));
    background-image: -webkit-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: -moz-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: -o-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: -ms-linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    background-image: linear-gradient(#ffffff 0px, #ffffff 29px, #0080ff 30px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
    background-size: 650px 30px;
    background-position: 50%;
    height: inherit;
    position: absolute;
    width: inherit
}
.current .side_one, .current.flip .side_two {
    -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.current.flip .side_one {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.side_one {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 900
}
.flip .side_one {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.side_two {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 800
}
.flip .side_two {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 1000
}
.cardf p {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 44, color-stop(0%, #ffffff), color-stop(97.727%, #ffffff), color-stop(100%, #ff78b4));
    background-image: -webkit-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: -moz-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: -o-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: -ms-linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-image: linear-gradient(#ffffff 0px, #ffffff 43px, #ff78b4 44px);
    background-size: 500px 45px;
    background-repeat: repeat-x;
    display: table-cell;
    height: 350px;
    vertical-align: middle;
    width: 650px;
    max-width: 100%;
}
#nav_deck {
    color: #fff;
    position: relative;
    text-align: center;
}
.icon {
    cursor: pointer
}
.icon:before {
    content: attr(data-icon);
    font-family: 'Flash Cards';
    visibility: visible
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
#keyboard_shortcuts {
    background: #000;
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
    bottom: 0;
    z-index: 99999
}
#keyboard_shortcuts h1 {
    text-align: center
}
#keyboard_shortcuts td {
    padding: 15px;
    text-align: left;
    width: 300px
}
#keyboard_shortcuts td:first-child {
    text-align: right
}
.or {
    color: #222;
    padding: 0 10px
}
#keyboard_shortcuts_toggle {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px
}
#keyboard_shortcuts_toggle:before {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: #0080ff;
    border: 1px solid #fff;
    color: #fff;
    font-size: 25px;
    height: 20px;
    padding: 5px;
    width: 20px
}
.no-csstransforms3d .flip .side_one, .no-csstransforms3d .side_two {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0
}
.no-csstransforms3d .flip .side_two {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1
}
/* End Flashcard */
#userResponse{
    display: none;
}
.calc-content {
    min-height: calc(100vh - 320px);
    margin-bottom : 20px;
    position: relative;
}
.custom-share {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
.table thead th{
    vertical-align: bottom;
    padding: 5px;
    border-bottom: 2px solid #ddd;
}
.table tbody td{
    padding: 5px;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}
.card {
    overflow: hidden;
}
#profile-page-header .card-image {
    height: 250px;
}
#profile-page-header .card-content {
    margin-top : -27px;
}
#profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin : 0;
}
#profile-page-header .card-content .row {
    margin-bottom : 0;
}
#profile-page-header .card-content .card-title {
    margin-bottom: 0;
}
.medium-small {
    font-size : 0.9rem;
    margin: 0;
    padding: 0;
}
#profile-page .tabs-content {
    min-height: 200px;
}
#profile-page-header .editing {
    margin-top:17px;
}
#notification-count {
    position: absolute;
    right: 9px;
    top: 14px;
    background-color: #fa3e3e;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px;
    background-clip: padding-box;
    display: inline-block;
    font-size: 9px;
    line-height: 1.3;
    min-height: 13px;
}

.dropdown-content li:hover {
    background-color : #FFF !important;
}

.dropdown-content li a i#delete {
    color : #F44336;
}

.dropdown-content li a i#delete:hover {
    color : #212121;
}

.dropdown-content li a i:hover {
    color : #212121;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  min-width: 300px; 
  max-height: auto;
  margin-left: -1px; 
  overflow: hidden; 
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.collection-item .third-content {
    position: absolute;
    top: 10px;
    right: 0px;
}

.online {
    display: inline-block;
    background: #42b72a;
    border-radius: 50%;
    width : 8px;
    height : 8px;
    margin: 0 3px 1px 0;
    vertical-align: middle;
}

.offline {
    display: inline-block;
    background: #9E9E9E;
    border-radius: 50%;
    width : 8px;
    height : 8px;
    margin: 0 3px 1px 0;
    vertical-align: middle;
}

.answer .card-content {
    cursor: pointer;
}

.answer .card-content p {
    margin : 0 !important;
}

.result td {
    padding: 0 !important;
}

div, button, a, span {
    text-transform: none !important;
}

.timer-count {
    text-align: center;
    width: 50px;
    height: 50px;
    display: block;
    padding : 13px;
    border-radius: 50%;
    border: 1px solid #1e88e5;
    color : #1e88e5;
    float: right;
}

.modal-set {
    overflow: auto;
    max-height: calc(100vh - 350px);
}
.uet-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}